// jusqu'à maintenant 
// application web mono page 

// à partir de maintenant 
// refaire une barre de menu 
// => changer de page 
// page d'accueil 
// page de contact => formulaire
// liste d'article 
    // cliquer sur un des liens dans la page article => l'article concerné 

// créer une barre de menu 
ng g c menu 

// placer la balise dans le app.component.html

// vue du composant => menu.component.html

//une fois que le menu est créé => utilise Module Router 
// installé dans Angular => https://angular.io/guide/router

// app.module.ts 
// activer le module Router 

import { RouterModule }  from '@angular/router' ;


imports: [
   BrowserModule ,
   RouterModule
],

// créer un nouveau composant => encharge d'afficher la page de contact 
// lorsque l'on cliquera sur le lien contact dans la barre de menu 

ng g c contact 


// app.module.ts 
RouterModule.forRoot([
     un url => un composant à afficher 
     { path : 'contact' , component: ContactComponent }
])


// app.component.html (à la suite du menu)
<router-outlet></router-outlet>


// mis à jour du composant menu => mettre le lien à la place du # dans la balise a 

// menu.component.html


<li class="nav-item">
    <a href="#" class="nav-link">Contact</a>
</li>

<li class="nav-item">
    <a routerLink="/contact" class="nav-link">Contact</a>
</li>

<!--  l'attribut routerLink => éviter lorsque l'on clique sur une lien 
de reccharger intégralement tous les sources 
=> SPA : Single Page Application 
Une fois que vous avez charger votre site => il n'y a plus de rechargement 
des fichiers sources de votre application 
-->
// cas pratique : créer une nouveau composant 
// liste-articles
ng g c liste-articles

// associer l'adresses articles => ListeArticles (app.module.ts) 

RouterModule.forRoot([
{ path : 'contact' , component: ContactComponent } ,
{ path : "articles" , component: ListeArticlesComponent }
])

// mettre à jour le composant menu => cliquer sur le liens Articles > le composant
liste-articles

------ 
dans le composant menu => si vous ajoutez la class active dans le lien 

routerLinkActive="active"

------ 

créer un nouveau composant 
ng g c accueil 
{ path : '' , component: AccueilComponent  }

// à mettre au début !

dans la barre de menu  
routerLink="/" 
class="nav-link" 
routerLinkActive="active"
[routerLinkActiveOptions]="{ exact: true }"

------ 

rappel pour créer un service :
ng g s data 

=> class 
=> méthode getAll(){
    return [ 

    ]
}

// google => json generator => https://www.json-generator.com/
// collez la valeur dans la méthode getAll()


// cas pratique => utiliser le service data dans le composant ListeArticleComponent 

// dans le composant ListeArticleComponent 
créer une variable articles => initialiser avec le contenu des données dans le service data 

// dans la vue du composant 

// boucle *ngFor 

<div class="row">
    <article class="col-3" *ngFor>
        <h2>company</h2>
        <p>about</p>
        liste de méta => tags
        <a href="">lire la suite </a>
    </article>
</div>
